@charset "utf-8";
/*全局样式
---------------------------------------------*/
section,article,aside,header,footer,nav,figure{ display:block; }
html,body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{ margin:0; padding:0; }
body,button,input,select,textarea{ font:12px/1.5 "Microsoft Yahei"; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea{ font-size:100%; }
address,cite,dfn,em,var{ font-style:normal; }
code,kbd,pre,samp{ font-family:courier new,courier,monospace; }
p,ul,li,dl,dd,dt,form,h1,h2,h3,h4,h5,h6{ list-style:none; }
a{ color:#666; text-decoration:none; }
a:hover{ color:#0089CD; text-decoration:none; }
fieldset,img{ border:0; }
table{ border-collapse:collapse; border-spacing:0; }
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0;outline:0; }
.clear{ clear:both; font-size:0px; height:0px; overflow:hidden; }
.w1200{width:1200px;margin:0 auto;}
/* Clear Fix */ 
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix{ display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix { display:block; } 
/* End hide from IE Mac */ 
/* end of clearfix */ 
.left{ float:left; }
.right{ float:right; }
img{max-width:100%;}
.animate-box,.animate-box1,.animate-box2{
    opacity:0;
}
/*站点样式*/
/*底部样式*/
.footer{width:100%;}
.footer-header{background:#373f45;width:100%;}
.footer-content{
    width:33.3%;box-sizing:border-box;height:175px;border-right:1px solid #1b1f22;border-left:1px solid #535f68;margin:25px 0px;
}
.footer-content:first-child{border-left:none;}
.footer-content:last-child{border-right:none;}
.footer-footer{
    background:#2a3035;width:100%;text-align:center;line-height:25px;color:#fff;padding:10px 0px;
}
.footer-footer span{
    padding:0px 10px;
}
.nav-footer{
   
}
.nav-footer a{
    color:#fff;display:block;float:left;line-height:40px;width:48px;margin:0px 28px;
}
.nav-footer a:hover{
    text-decoration:underline;
}
.footer-logo img{
    width:166px;height:45px;margin: 65px auto;display:block;
}
.wechat{
   text-align:center;
}
.wechat img{
width:150px;height:150px;
}
.wechat  p {
    height:30px;color:#fff;line-height:30px;
}
@media screen and (max-width: 768px) { 
    .analysis_ul1{
    margin-top:25px;
}
    .footer-header{display:none;}
    .header,.header-wrap{
        height:60px;
    }
    .icon_menu{
        width: 42px;
        height: 42px;
        background: url(../images/skin_icons.png) 11px -239px no-repeat;
        display:block;
        margin:9px auto;
    }
    .nav{
        display:none;background:#fff;right:0px;align-self:flex-end
    }
    .nav>ul>li{
        width:100%;line-height:40px;font-size:16px;
    }
    .nav>ul>li>a{
        display:block;width:100%;height:40px;
    }
    .nav>ul{
        float:none;
    }
    .toggle,.a{
        display:block;
    }
    .logo{
        margin:10px 0px;
    }
    .drop-down a{
        height:40px;display:block;line-height:40px
    }
    .nav>ul>li.selected a{
         color:#fff;background:#6CA8D1;
    }
    .company_img{
        width:100%;
    }
    .company_img img{border:3px solid #4da9d5;padding:10px;}
    .analysis_ul2 li:nth-child(1){
        margin-left:20px;
    }
    .analysis_ul2 li:nth-child(2){
        margin-left:40px;
    }
    .analysis_ul2 li:nth-child(3){
        margin-left:60px;
    }
    .analysis_ul2 li:nth-child(4){
        margin-left:80px;
    }
    .buttons{
        display:none;
    }
}
@media screen and (min-width: 768px) {
    .sd{
        margin-left:20%;
    }
    .buttons{
        margin-top:26%;
    }
    .analysis_ul1{
    margin-top:160px;
}
    .analysis_ul2{
        margin-top:25px;
    }
    .analysis_ul2 li:nth-child(1){
        margin-left:-160px;
    }
    .analysis_ul2 li:nth-child(2){
        margin-left:-50px;
    }
    .analysis_ul2 li:nth-child(3){
        margin-left:-60px;
    }
    .analysis_ul2 li:nth-child(4){
        margin-left:-90px;
    }
    .toggle,.a{
        display:none;
    }
    .header,.header-wrap{
        height:80px;
    }
    .logo{margin:20px 0px;}
   .nav>ul>li{
        min-width:150px;height:80px;float:left;position:relative;
    }
    .nav>ul>li>a{
        display:block;width:100%;height:80px;font-size:16px;color:#333333;text-align:center;line-height:80px;cursor:pointer;
    }
    .nav>ul>li:hover>a{
        color:#fff;background:#6CA8D1;
    }
    .nav>ul>li.selected>a{
         color:#fff;background:#6CA8D1;
    }
    .nav>ul>li:hover .drop-down{
        display:block;
    }
    .drop-down{
        position:absolute;width:100%;top:100%;background:#6CA8D1;z-index:999;display:none;
    }
    .drop-down a{
        height:40px;display:block;line-height:40px;color:#fff;text-align:center;font-size:16px;
    }
    .drop-down a:hover{
        background:#fff;color:#579DCF;
    }
    .company_img{
        height:294px;border:3px solid #4da9d5;position:relative;
    }
    .company_img img{
        width:110%;height:294px;border-radius:3px;overflow:hidden;margin-top:15px;position:absolute;
    }
    .company_desc p{
        padding-left:15px; 
    }
    .Characteristic_right ul li:nth-child(1){
        margin-left:50px;
    }
    .Characteristic_right ul li:nth-child(2){
        margin-left:102px; width:460px;
    }
    .Characteristic_right ul li:nth-child(3){
        margin-left:130px;width:540px;
    }
    .Characteristic_right ul li:nth-child(4){
        margin-left:142px;width:605px;
    }
    .Characteristic_right ul li:nth-child(5){
        margin-left:142px;width:540px;
    }
    .Characteristic_right ul li:nth-child(6){
        margin-left:129px;width:540px;
    }
    .Characteristic_right ul li:nth-child(7){
        margin-left:100px;
    }
    .Characteristic_right ul li:nth-child(8){
        margin-left:48px;
    }
    .Characteristic_right{
        background:url(../images/banyuan_03.png) no-repeat;height:472px;position:absolute;left:-150px;width:70%;top:-32px;
    }
}
.company_desc p{
        padding-left:15px; font-size:16px;color:#333;line-height:39px;text-indent:2em;
    }
/*头部样式*/

.header{
    width:100%;
}
.header-wrap{
    width:100%;position:fixed; top:0; left:0;  z-index:300;background:#fff;
}
.logo{
    width:145px;height:40px;display:block;
}

/*幻灯片样式*/
.banner{
    width:100%;height:auto;position:relative;overflow:hidden;
}
.focusbox{ overflow:hidden; _position:relative; }
.focusbox .slides{ position:relative; display:block; width:100%; height:100%; zoom:1; overflow:hidden; }
.focusbox .slides:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.focusbox .slides li{ width:100%; height:100%; overflow:hidden; }
.focusbox .slides li img{ min-width:100%; min-height:100%; _width:100%; _height:100%;}
.focusbox .slides li .note-bg{ position:absolute; left:0; right:0; bottom:0; width:100%; height:125px; background:url(../images/pic-bg.png) 0 bottom repeat-x; _height:50px; _background:url(none) 0 0 repeat #000; }
.focusbox .slides li .note-txt{ position:absolute; left:0; right:0; bottom:0; display:block; padding:10px; height:24px; line-height:24px; color:#fff; font-size:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
	
.focusbox .flex-control-nav{ position:absolute;display:inline-block;left:0px;right:0px; z-index:4;bottom:18px;text-align:center; }
.focusbox .flex-control-nav li{ margin:0 5px 0 0; display:inline-block; zoom:1; *display:inline; }
.focusbox .flex-control-nav li a{ display:block; width:8px; height:8px; text-indent:-9999px; border:1px solid #999; border-radius:8px; cursor:pointer; overflow:hidden; }
.focusbox .flex-control-paging li a:hover { background:#333; }
.focusbox .flex-control-paging li a.flex-active { background:#f90; border-color:#f90; cursor:default; }

/*产品中心*/
.mt30{
    margin-top:30px;
}
.mb30{
    margin-bottom:30px;
}
.pt30{
    padding-top:30px;
}
.productCenter{
    width:100%;
}

.productCenter ul li>div{
    background:#f3f5f7;border-radius:5px; animation-name: fadeInUp; animation-duration: 1s;padding:40px 20px;
  animation-fill-mode: both;margin-bottom:20px;
}
.productCenter ul li:nth-child(1){
    animation-delay:200ms
}
.productCenter ul li:nth-child(2){
    animation-delay:400ms
}
.productCenter ul li:nth-child(3){
    animation-delay:600ms
}
.productCenter .icon{
    width:90px;height:90px;border-radius:50%;overflow:hidden;margin:0 auto;
}
.productCenter .productName{
    font-size:24px;color:#333;text-align:center;line-height:60px;
}
.productCenter .descration{
    font-size:16px;color:#666;line-height:30px;height:130px;overflow:hidden;
}
.productCenter .login{
    width:126px;height:38px;border-radius:3px;background:#666666;display:block;margin:0 auto;color:#fff;line-height:38px;text-align:center;font-size:16px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    /*transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
/*用户数据*/
.userData{
    min-height:445px;width:100%;background:url(../images/data.jpg) no-repeat center;background-size:100% 100%;
}
.title{
    height:100px;font-size:36px;color:#333333;text-align:center;background:url(../images/dian.png) no-repeat center bottom;font-weight:normal;padding-top:30px;
}
.userData ul li{
    width:33.3%;float:left;
}
.userData .icon{
    width:72px;height:72px;margin:0 auto;margin-top:50px;
}
.userData .number{
    text-align:center;font-size:48px;color:#fff;text-align:center;line-height:88px;font-family: Arial;
}
.userData .name{
    text-align:center;font-size:30px;color:#fff;text-align:center;line-height:70px;
}
/*核心服务*/
.server{
   width:100%;
}
.server .descration{
    font-size:16px;line-height:30px;text-align:center;color:#666;margin:20px 0px;
}
.server ul li{
    width:25%;float:left;
}
.server .icon{
    width:90px;height:90px;border-radius:50%;overflow:hidden;margin:0 auto;background:url(../images/server.png) no-repeat;
}
.server .name{
    color:#333;font-size:24px;text-align:center;line-height:60px;
}
.server .icon1{
    background-position:0px 0px;
}
.server .icon2{
    background-position:-90px 0px;
}
.server .icon3{
    background-position:-180px 0px;
}
.server .icon4{
    background-position:-270px 0px;
}
/*case*/
.case{
    width:100%;background:url(../images/case.jpg) no-repeat center;background-size:100% 100%;padding-bottom:70px;
}
.case_bg>img{
    width:100%;
}
.case_ul{
    border-top:1px solid #c4c4c4;
    border-left:1px solid #c4c4c4;
    margin-top:30px;
}
.case_ul li {
   
    min-height: 178px;
    overflow: hidden;
    box-sizing:border-box;
    border-right:1px solid #c4c4c4;
    border-bottom:1px solid #c4c4c4;
}
.case_ul li a{
    display:block;width:100%; min-height: 178px;
}
.case_ul li div{
    width:100%;position: relative;height: 178px;overflow: hidden;
}
.case_ul li div img{
    position:absolute;left:0px;right:0px;bottom:0px;top:0px;margin:auto;
}
.case_ul li p{
    line-height:30px;font-size:14px;color:#666;padding:0px 15px;
}
/*.case_ul li:nth-child(3n){
    border-right:none;
}*/
/*.case_ul li:nth-child(1), .case_ul li:nth-child(2), .case_ul li:nth-child(3) {border-top:1px solid #c4c4c4;}*/
.more{
    height:19px;border-bottom:1px solid #fff;position:relative;top:25px;
}
.more a{
    width:248px;height:38px;border:1px solid #c4c4c4;line-height:38px;text-align:center;display:block;position:absolute;left:0px;right:0px;top:18px;bottom:0px;margin: auto;color:#666;font-size:16px;background:#fff;border-radius:3px;
}
.partner{
    width:100%;
}
.partner ul{
    margin-bottom:15px;
}
.partner ul li a{
    display:block;width:100%;height:80px;overflow:hidden;position: relative; border:1px solid #dbdbdb;float:left;margin-top:15px;
}
.partner ul li img{
    position:absolute;left:0px;right:0px;bottom:0px;top:0px;margin:auto;
}
.case_bg{
    width:100%;overflow:hidden;
}
/*about*/
.jianjie{
    width:100%;
}
.mt20{
    margin-top:20px;
}


.zizhi{
    width:100%;background:url(../images/as_04.jpg) no-repeat center; text-align:center;background-size:100% auto;
}
.news_left{
    width:600px;height:390px;
}
.news_left .news_img{
    width:100%;height:295px;position:relative;overflow:hidden;
}
.news_left .news_img img {
    /*position:absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;*/width:100%;height:100%;
}
.news_left h2{
    line-height:45px;font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}
.news_left .desc{
    font-size:14px;color:#666;line-height:25px;height:50px;overflow:hidden;
}
.news_right{
    width:585px;
}
.news_right ul li{
   margin-bottom:10px;background:#f8f8f9;
}
.news_right ul li a{
    display:block;padding:15px;position:relative;
}
.news_right ul li .num{
    width:60px;height:60px;display:block;line-height:60px;text-align:center;color:#666;font-size:40px;font-family:Arial;font-weight:bold;position:absolute;left:15px;top:15px;
}
.news_right ul li div{
   padding-left:90px;box-sizing:border-box;width:100%;
}
.news_right ul li div p.clearfix{
    position:relative;
}
.news_right ul li .name{
    line-height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;display:inline-block;float:left;width:100%;padding-right:95px;
}
.news_right ul li .date{
    color:#999;font-size:14px;float:right;line-height:35px;width:80px;position:absolute;right:0px;top:0px;
}
.news_right ul li .desc{
    line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#999;font-size:14px;
}
.news_right ul li a:hover{
    background:#4792c6;
}
.news_right ul li a:hover *{
    color:#fff;
}
.pb75{
    padding-bottom:75px;
}
 .news_right1 ul li{
            background:#f2f2f4;
        }
 .news-bg{
     width:100%;
 }
 .news-bg img{
     width:100%;
 }
 .ntitle{
     width:100%;height:62px;background:#f3f3f3;line-height:62px;font-size:16px;color:#666;
 }
    .ntitle span a{
        font-size:16px;
    }
    .n-list li{
        overflow:hidden;padding:20px 0px;border-bottom:1px solid #ccc;
    }
    .n-list li b{
        display:block;height:140px;overflow:hidden;position:relative;float:left;
    }
    .n-list li b img{width:100%;height:100%;}
    .n-list li .desc .clearfix{
       position:relative;
    }
    .n-list li .name{
        display:inline-block;font-size:16px;color:#333;line-height:36px;padding-right:95px;box-sizing:border-box;width:100%;
    } 
    .n-list li .time{
        display:inline-block;width:80px;float:right;font-size:14px;color:#666;line-height:36px;font-weight:normal;position:absolute;right:0;top:0;
    }
    .n-list li .note{
        line-height:26px;color:#666;font-size:14px;height:104px;overflow:hidden;
    }
    .page-box{
        margin:20px 0px;text-align:center;
    }
    .digg{
        display:inline-block;
    }
    /*内容标题样式*/
.meta{ text-align:center; padding:10px 0 15px 0; border-bottom:1px solid #f0f0f0; }
	.meta:after{ clear:none; content:""; display:block; height:0; visibility:hidden; }
	.meta h1{ margin:0; padding:0 0 15px 0; color:#3b8dd1; font-size:22px; line-height:30px; }
	.meta .meta-info{ color:#999; font-size:12px; line-height:24px; }
	.meta .meta-info span{ margin-right:10px; padding-left:20px; color:#777; background:url(../images/sprite.gif) no-repeat; }
	.meta .meta-info .time{ background-position:left -158px; }
	.meta .meta-info .view{ background-position:left -36px; }
	.meta .meta-info .comm{ background-position:left 4px; }
/*内容详细样式*/
.entry{ margin:15px 0; padding:0; font-size:14px; line-height:2em; word-wrap:break-word; }
	.entry img{ max-width:100%!important; height:auto!important; }
	.entry h2,.entry h3,.entry h4{ padding-bottom:5px; border-bottom:1px solid #f6f6f6; color:#333; }
	.entry h2{ font-size:1.2em; }
	.entry h3,.entry h4{ font-size:1.1em; }
	.entry strong{ color:#DC2523; }
	.entry ul,.entry ol{ margin:1em; }
	.entry li{ margin-left:1em; }
	.entry ul li{ list-style:disc outside none; }
	.entry ol li{ list-style:decimal outside none; }
	.entry p{ display:inherit; margin:1em 0; color:#555; word-wrap:break-word; }
	.entry a{ text-decoration:underline; }
	.entry code{ display:block; padding:0.5em; background:#eee; border-radius:.5em; color:#777; font-family:'courier new'; line-height:1.7em; }
	.entry table{ border-left:0.15em solid #eee; border-top:0.15em solid #eee; }
	.entry table th{ background-color:#F9F9F9; text-align:center; }
	.entry table td,.entry table th{ border-bottom:0.15em solid #eee; border-right:0.15em solid #eee; padding:0.25em 0.5em; }

/*排课吧*/
.banner_paikeba{
    width:100%;position:relative;background:#f6fbff;
}
.banner_paikeba img{width:100%; }
.wrap{
    position:absolute;top:0px;bottom:0;left:0;right:0;margin:auto;
}
.wrap .banner_paikeba_zi{
    position:absolute;right:0;top:0;bottom:0;margin: auto;
}
.wrap .banner_paikeba_zi img{
    position:absolute;right:0;top:0;bottom:0;margin: auto;
}
.reform_background{
    width:100%;background:#f6fbff;
}
.reform_background .descration {
        font-size:16px;line-height:30px;text-align:center;color:#666;margin:20px 0px;
}
.reform_background_ul1,.reform_background_ul2{
    margin-top:30px;
}
.reform_background_ul1 li,.reform_background_ul2 li{
    width:320px;height:60px;border-radius:10px;margin-bottom:30px;text-align:center;line-height:60px;font-size:20px;
}
.reform_background_ul1 li{
    background:#e5eaef;color:#666666;
}
.reform_background_ul1 li:nth-child(1){
   margin-left:60px;
}
.reform_background_ul1 li:nth-child(2){
   margin-left:10px;
}
.reform_background_ul1 li:nth-child(3){
   margin-left:30px;
}
.reform_background_ul2 li:nth-child(1){
   margin-left:30px;
}
.reform_background_ul2 li:nth-child(2){
   margin-left:60px;
}
.reform_background_ul2 li:nth-child(3){
   margin-left:10px;
}
.reform_background_ul2 li{
    background:#66a1cb;color:#fff;
}
.reform_background_img{
    justify-content:center;align-items:center;display:flex;
}
.title1{
    height:100px;font-size:36px;color:#fff;text-align:center;background:url(../images/dian1.png) no-repeat center bottom;font-weight:normal;padding-top:30px;
}
.paikeba_yun{
    width:100%;background:url(../images/paikeba_05.png) no-repeat center center;background-size:cover;overflow:hidden;
}
.yun_right,.yun_left{
    width:50%;
}
.yun_right ul{
    margin-left:50px;margin-top:108px;
}
.yun_right ul li{
    margin:10px 0px;
}
.yun_right ul li i{
    display:block;width:40px;height:40px;float:left;background:url('../images/sprite2.png') no-repeat;margin-right:20px;
}
.yun_right ul li:nth-child(1) i{
    background-position:0px 4px;
}
.yun_right ul  li:nth-child(2) i{
    background-position:0px -43px;
}
.yun_right ul  li:nth-child(3) i{
    background-position:0px -90px;
}
.yun_right ul  li:nth-child(4) i{
    background-position:0px -137px;
}
.yun_right ul  li:nth-child(5) i{
    background-position:0px -185px;
}
.yun_right li{
    line-height:40px;color:#fff;font-size:20px;
}
.Characteristic{width:100%;padding-bottom:70px;}
Characteristic_left{
    width:50%;
}

.Characteristic_right ul{
    margin-top:15px;
}
.Characteristic_right ul li i{
    display:block;width:12px;height:12px;background:#4792c6;border-radius:50%;border:2px solid #fff;float:left;margin-top:22px;margin-right:20px;
}
.Characteristic_right ul li{
    color:#666;font-size:16px;line-height:55px;
}
.Characteristic_right ul li span{
    font-size:18px;font-weight:500
}

.Function{
    width:100%;height:690px;background:url(../images/paikeba_04.png) no-repeat center center;background-size:cover;overflow:hidden;
}
.flexSlider{
    position:relative;overflow:hidden;
}

.flexSlider .slides li{
    width:100%;
}
.flexSlider .slides .zhaiyao{
    font-size:16px;text-align:center;color:#fff;line-height:35px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.flexSlider .slides .content{
    font-size:14px;text-align:center;color:#fff;line-height:28px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.flexSlider .slides .title2{
    font-size:20px;text-align:center;color:#fff;line-height:45px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.flexSlider .slides .img{
    width:835px;height:440px;overflow:hidden;position:relative;background:#f5f9ff;margin:20px  auto 0px auto;
}
.flexSlider .slides .img img{
    width:100%;height:100%;
}
.flexSlider .flex-direction-nav{
    position:absolute;top:50%;margin-top:-70px;width:100%;
}
.flexSlider .flex-direction-nav li{
    width:50px;height:50px;
}
.flexSlider .flex-direction-nav li:nth-child(1){
    left:0;position:absolute;
}
.flexSlider .flex-direction-nav li:nth-child(2){
    right:0;position:absolute;
}
.pr{
    position:relative;
}
.zi{
    position:absolute;top:0px;bottom:0;left:0;right:0;margin:auto;display:flex;
}
.case_zi{
     position:absolute;top:0px;bottom:0;left:0;right:0;margin:auto;
}
.qu_zi1{
    position:absolute;top:0;bottom:0;left:0;margin:10% auto auto auto;
}
.qu_zi2{
    position:absolute;top:0;bottom:0;left:0;margin:24% auto auto auto;
}

@media (max-width: 576px){
    .qu_zi1{margin:7% auto auto auto;}
    .qu_zi2{
        margin:18% auto auto auto;
    }
}
.ul_feature ul li{
    cursor:pointer;margin-bottom:15px;
}
.ul_feature ul li>div{
    border:1px solid #dedede;
}
.ul_feature ul .head_feature{
    padding:25px 13px;background:#fbfbfb;border-bottom:1px solid #dedede;text-align:center;
}
.ul_feature ul .head_feature h1{
    font-size:24px;color:#333333;font-weight:normal;line-height:30px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.ul_feature ul .head_feature p{
    font-size:14px;color:#999;line-height:25px;
}
.ul_feature ul .head_body{
    padding:15px 13px;font-size:14px;color:#595757;line-height:36px;height:200px;
}
.ul_feature ul li:nth-child(1) .head_body{
    background:#fff url(../images/qu_1.png) no-repeat right bottom;
}
.ul_feature ul li:nth-child(2) .head_body{
    background:#fff url(../images/qu_3.png) no-repeat right bottom;
}
.ul_feature ul li:nth-child(3) .head_body{
    background:#fff url(../images/qu_5.png) no-repeat right bottom;
}
.ul_feature ul li:hover>div{
    border:1px solid #2293cb; box-shadow: 0px 0px 20px rgba(0,82,122,0.25);
}
.ul_feature ul li:hover .head_feature{
    background:#2293cb;
}
.ul_feature ul li:hover h1,.ul_feature ul li:hover p{color:#fff;}
.ul_feature ul li:hover:nth-child(1) .head_body{
    background:#fff url(../images/qu_2.png) no-repeat right bottom;
}.ul_feature ul li:hover:nth-child(2) .head_body{
    background:#fff url(../images/qu_4.png) no-repeat right bottom;
}
 .ul_feature ul li:hover:nth-child(3) .head_body{
    background:#fff url(../images/qu_6.png) no-repeat right bottom;
}
 .strength_ul{
     margin:40px 0px;
 }
 .strength{
     width:100%;min-height:430px;background:url(../images/stregth_02.png) no-repeat center center;background-size:cover;
 }
 .strength_ul li{
     text-align:center;background:url(../images/rightxian_03.png) no-repeat right;height:174px;
 }
  .strength_ul li p{
      font-size:18px;color:#fff;line-height:30px;
  }
   .strength_ul li i{
       width:92px;height:92px;background:url(../images/sprite3.png) no-repeat;display:block;margin:5px auto 10px auto;
   }
   .strength_ul li:nth-child(1) i{background-position:0px 0px;}
   .strength_ul li:nth-child(2) i{background-position:0px -92px;}
   .strength_ul li:nth-child(3) i{background-position:0px -184px;}
   .strength_ul li:nth-child(4) i{background-position:0px -276px;}
.module_left ul li {
    height:130px;margin-right:18px;margin-bottom:20px;float:left;overflow:hidden;width:128px;
}
.module_left ul li  i{
    width:100px;height:100px;overflow:hidden;display:block;background:url(../images/sprite4.png) no-repeat;margin:0px auto;
}
.module_left ul li p{
    line-height:30px;text-align:center;color:#333;font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:30px;
}

.module_left ul li:nth-child(1) i{background-position:0px 0px;}
.module_left ul li:nth-child(2) i{background-position:0px -100px;}
.module_left ul li:nth-child(3) i{background-position:0px -200px;}
.module_left ul li:nth-child(4) i{background-position:0px -300px;}
.module_left ul li:nth-child(5) i{background-position:0px -400px;}
.module_left ul li:nth-child(6) i{background-position:0px -500px;}
.module_left ul li:nth-child(7) i{background-position:0px -600px;}
.module_left ul li:nth-child(8) i{background-position:0px -700px;}
.module_left ul li:nth-child(9) i{background-position:0px -800px;}
.module_left ul li:nth-child(10) i{background-position:0px -900px;}
.module_right{
    height:280px;border-radius:10px;background:#2293cb url(../images/chinese-star.png) no-repeat -40px 100px;position:relative;
}
.module_right div{
    padding:30px 15px;color:#fff;font-size:20px;line-height:32px;
}
.module_right div span{
    font-size:18px;
}
.go{
    display:block;width:31px;height:31px;background:url(../images/go.png) no-repeat;position:absolute;right:25px;bottom:30px;
}
.jiagou{
    width:100%;background:url(../images/jiagou_02.png) no-repeat center center;background-size:100% auto;
}
.mb20{
    margin-bottom:20px;
}

.analysis_ul1 li,.analysis_ul2 li{
    padding:10px 15px;border:1px solid #2293cc;margin-bottom:35px;
}
.analysis_ul1 li h2,.analysis_ul2 li h2{
    color:#333333;font-size:16px;line-height:30px;
}
.analysis_ul1 li p,.analysis_ul2 li p{
    font-size:14px;color:#5c5d5d;line-height:24px;
}
.analysis_img{
    display:flex;justify-content:center;align-items:center;
}
.analysis_ul1 li:nth-child(1){
    margin-left:20px;
}
.analysis_ul1 li:nth-child(2){
    margin-left:65px;
}
.analysis_ul1 li:nth-child(3){
    margin-left:80px;
}

.growup_zi1{
    position:absolute;left:0;top:0;right:0;margin:8% auto auto auto;
}
.growup_zi2{
    position:absolute;left:0;top:0;right:0;margin:18% auto auto auto;
}
.btn{
    width:290px;height:68px;border-radius:34px;line-height:68px;color:#fff;font-size:26px;border:none;
}

.btn1{
    background:rgba(75,155,226,1);box-shadow:0px 0px 20px rgba(75,155,226,0.8);
}
.btn2{
    background:rgba(90,190,86,1);box-shadow:0px 0px 20px rgba(90,190,86,0.8);
}
.sort{
    padding-bottom:20px;
}
.sort img{
    margin:50px auto 0px auto;display:block;
}

.sort p{
    font-size:22px;color:#484961;line-height:55px;text-align:center;
}
.growuo_title{
    border-bottom:1px solid #b2b3b5;height:25px;
}
.growuo_title span{
    height:30px;display:block;text-align:center;color:#b2b3b5;font-size:22px;background:#fff;position:absolute;left:0;top:0;bottom:0;margin:5px auto auto auto;right:0;font-weight:normal;
}
.growup_module .row{
    padding:80px 0px;
}

.growup_module h3{
    font-size:32px;color:#2293cb;font-weight:normal;line-height:55px;margin-top:20px;
}
.growup_module p{
    line-height:40px;color:#666666;font-size:18px;
}
.cursor{
    cursor:pointer;
}