<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.article" templet="index.html" channel="index">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="about" type="category" page="about.aspx" inherit="DTcms.Web.UI.Page.category" templet="about.html" channel="about">
    <item path="about.aspx" pattern="about.aspx" />
  </rewrite>
  <rewrite name="product" type="category" page="product.aspx" inherit="DTcms.Web.UI.Page.category" templet="product.html" channel="product">
    <item path="product.aspx" pattern="product.aspx" />
  </rewrite>
  <rewrite name="companynews" type="index" page="companynews.aspx" inherit="DTcms.Web.UI.Page.article" templet="companynews.html" channel="companynews">
    <item path="companynews.aspx" pattern="companynews.aspx" />
  </rewrite>
  <rewrite name="companynews_list" type="list" page="companynews_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="companynews_list.html" channel="companynews" pagesize="10">
    <item path="companynews/{0}.aspx" pattern="companynews/(\d+).aspx" querystring="category_id=$1" />
    <item path="companynews/{0}/{1}.aspx" pattern="companynews/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="companynews_show" type="detail" page="companynews_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="companynews_show.html" channel="companynews">
    <item path="companynews/show-{0}.aspx" pattern="companynews/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case" type="category" page="case.aspx" inherit="DTcms.Web.UI.Page.category" templet="case.html" channel="case">
    <item path="case.aspx" pattern="case.aspx" />
  </rewrite>
  <rewrite name="case_show" type="detail" page="case_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="case_show.html" channel="case">
    <item path="case/show-{0}.aspx" pattern="case/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>