<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%set string category_title=get_category_title(model.category_id,"成功案例")%>
    <title>{model.title} - {category_title} - {site.name}</title>
    <meta content="{model.seo_keywords}" name="keywords" />
    <meta content="{model.seo_description}" name="description" />
    <link href="<%templateskin%>/css/layout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->

    <div class="main">
        <div class="news-bg">
            <img src="<%templateskin%>/images/news-bg_02.jpg" alt="" />
        </div>
        <div class="ntitle">
            <div class="w1200">

                <span>当前位置：<a href="<%linkurl("companynews")%>" style="color:#2293cb;">成功案例</a> &gt; <a>案例详情</a></span>
            </div>
        </div>
        <!--左边-->
        <div class="list-auto w1200" style="padding:20px 0px;">
            <div class="meta">
                <h1>{model.title}</h1>
                <p class="meta-info">
                    <span class="time">{model.add_time}</span>
                    <span class="view">
                        <script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&id={model.id}&click=1"></script>次浏览
                    </span>
                    分类：{category_title}
                </p>
            </div>
            <div class="entry">
                {model.content}
            </div>
        </div>
        <!--/左边-->
    </div>
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</body>
</html>