<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{model.title} - {site.name}</title>
    <meta name="keywords" content="{model.seo_keywords}" />
    <meta name="description" content="{model.seo_description}" />
    <link href="{config.webpath}css/pagination.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/layout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->

    <div class="main">
        <div class="news-bg">
            <img src="<%templateskin%>/images/news-bg_02.jpg" alt="" />
        </div>
        <div class="ntitle">
            <div class="w1200">
                <%set string category_nav=get_category_menu("companynews_list", category_id)%>
                <span>当前位置：<a href="<%linkurl("companynews")%>" style="color:#2293cb;">企业新闻</a>{category_nav}</span>
            </div>
        </div>
        <div class="list-auto w1200">
            <ul class="n-list">
                <%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__")%><!--取得一个分页DataTable-->
                <%foreach(DataRow dr in newsList.Rows)%>
                <li>
                    <a href="<%linkurl("companynews_show",{dr[id]})%>" target="_blank">
                        <%if({dr[img_url]}!="")%>
                        <b><img src="{dr[img_url]}" /></b>
                        <%else%>
                        <b><img src="<%templateskin%>/images/dong_07.jpg" /></b>
                        <%/if%>
                        <div class="desc">
                            <h2 class="clearfix"><span class="name">{dr[title]}</span><span class="time"><%datetostr({dr[add_time]},yyyy-MM-dd)%></span></h2>
                            <div class="note">
                                {dr[zhaiyao]}
                            </div>
                        </div>
                    </a>
                </li>
                <%/foreach%>
            </ul>
            <!--页码列表-->
            <div class="page-box">
                <div class="digg clearfix">{pagelist}</div>
            </div>
            <!--/页码列表-->
        </div>
    </div>
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</body>
</html>